@{
    ViewBag.Title = "Application Confirmation, Talent Nurtures, Nurturing The Gen-Next!";
    ViewBag.MetaDescription = "Talent Nurture offers globally recognized online programs, professional diplomas, and certifications designed for career growth, job promotions, and international opportunities.";
    ViewBag.MetaKeywords = "online education, professional diploma, career development, global certification, job promotions, distance learning, skill-based courses, Talent Nurture, affordable programs, international career opportunities";
    ViewBag.OgImage = "https://talentnurtures2.mysitedemo.us/assets/images/talent-nurtures.jpg";
    
    // <-- Update with actual image path
}


<div class="site-wrapper-reveal">
    <div class="breadcrumb-area" style="background:url(/assets/images/slidebg3.jpg) no-repeat top; background-size:cover; z-index:2; padding-top:45px">
        <div class="slider-mask">
        </div>

    </div>
    @* <div class="breadcrumb-area" style="background:url(/assets/images/slidebg3.jpg) no-repeat top; background-size:cover; z-index:2">
        <div class="slider-mask">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 m-auto">
                    <div class="breadcrumb_box text-center">
                        
                        <h1 class="breadcrumb-title">
                            Log in to Your Account
                        </h1>
                        <p class="text text-white fs-6">
                            Access your application dashboard to continue your application process or check the status of your submission. Enter your email and password to log in.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div> *@
    <!--============ Machine learning Hero Start ============-->
    <section class="pt-lg-5  pt-4  pb-4 pb-lg-5  ">

        <div class="container pt-lg-4 ">
            <div class="row position-relative g-4">
                <div class="col-lg-12 m-auto">
                    <div class=" text-center">

                        <h1 class="text-body">
                            Application Confirmation


                        </h1>
                      
                      
                       
                    </div>
                </div>
<div class="clearfix"></div>
                <!-- Application Selection -->
                <div class="col-12 ">
                    <div class="table-responsive  p-4 card" style="border-color:#0d4faf">
                        <h5 class="mb-2 fw-semibold">Application Selection</h5>
                        <table class="table personal mb-0 personal-information  table-borderless">
                            <tbody>
                                <tr>
                                    <td>Campus : <span class="fw-bold"> Dubai - Al Nahda</span></td>
                                    <td>Session :  <span class="fw-bold">August 2025</span></td>
                                    <td>Program : <span class="fw-bold"> Diploma in Web Development</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Personal Information -->
                <div class="col-12 ">
                    <div class="table-responsive  p-4 card" style="border-color:#0d4faf">
                        <h5 class="mb-2 fw-semibold">Personal Information</h5>
                        <table class="table personal mb-0 personal-information  table-borderless">
                            <tbody>
                                <tr>
                                    <td>Name:<span class="fw-bold"> Jane Austen</span></td>
                                    <td>Address :<span class="fw-bold"> Al Qusais, Dubai</span></td>
                                    <td>Mobile No. <span class="fw-bold"> : +971 50 123 4567</span></td>
                                </tr>
                                <tr>
                                    <td>Email : <span class="fw-bold"> jame@domain.ae</span></td>
                                    <td>Passport No: <span class="fw-bold"> A12345678</span></td>
                                    <td>Emirates ID: <span class="fw-bold"> 784-1985-1234567-1</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-12 ">
                    <div class="table-responsive  p-4 card" style="border-color:#0d4faf">
                        <h5 class="mb-2 fw-semibold">Family Information</h5>
                        <table class="table personal mb-0 personal-information  table-borderless">
                            <tbody>
                                <tr>
                                    <td>Father Name: <span class="fw-bold"> George Austen</span></td>
                                    <td>Father Address : <span class="fw-bold"> Al Nahda, Sharjah</span></td>
                                    <td>Father Mobile : <span class="fw-bold"> +971 52 987 6543</span></td>
                                </tr>
                                <tr>
                                    <td>Father Passport: <span class="fw-bold"> B98765432</span></td>
                                    <td>Father Email : <span class="fw-bold"> father@domain.ae</span></td>
                                    <td>Father Emirates ID: <span class="fw-bold">784-1960-9876543-2</span> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Education Information -->
                <div class="col-12 ">
                    <div class="table-responsive  p-4 card" style="border-color:#0d4faf">
                        <h5 class="mb-2 fw-semibold">Education Information</h5>
                        <table class="table personal mb-0 personal-information  table-borderless">
                            <tbody>
                                <tr>
                                    <td>Education Level: <span class="fw-bold"> High School (Grade 12)</span></td>
                                    <td>Specialization : <span class="fw-bold"> Science</span></td>
                                    <td>School : <span class="fw-bold"> The Westminster School, Dubai</span></td>
                                </tr>
                                <tr>
                                    <td>Graduation Date: <span class="fw-bold"> 15/06/2023</span></td>
                                    <td>Marks Obtained : <span class="fw-bold"> 880</span></td>
                                    <td>Total Marks : <span class="fw-bold"> 1100</span></td>
                                </tr>
                                <tr>
                                    <td>Percentage: <span class="fw-bold"> 80%</span></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Additional Documents -->
                <div class="col-12 ">
                    <div class="table-responsive  p-4 card" style="border-color:#0d4faf">
                        <h5 class="mb-2 fw-semibold">Additional Documents</h5>
                        <table class="table personal mb-0 personal-information  table-borderless">
                            <tbody>
                                <tr>
                                    <td>
                                        <label>Passport Copy</label>
                                        <figure>
                                            <img src="/assets/images/no-photo.jpg" style="max-height:200px">
                                        </figure>
                                    </td>
                                    <td>
                                        <label>Emirates ID Copy</label>
                                        <figure>
                                            <img src="/assets/images/no-photo.jpg" style="max-height:200px">
                                        </figure>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 d-md-flex justify-content-between align-items-center">
                    <a href="/application-submited-success" type="submit" class="btn btn-sm btn--secondary ht-btn-sm w-auto">Submit Application</a>



                    @* <a class="btn btn--white ht-btn-sm" href="/" style="font-size:12px; white-space:nowrap"><i class="fa-solid fa-arrow-left"></i> Dashboard</a> *@
                </div>

                

            </div>
        </div>
    </section>
   
    <!--============ Infotechno Hero End ============-->
    


    <!--====================  brand logo slider area ====================-->
    <script src="/assets/js/vendor/jquery-3.5.1.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            ImgUpload();
        });

        function ImgUpload() {
            var imgWrap = "";
            var imgArray = [];

            $('.upload__inputfile').each(function () {
                $(this).on('change', function (e) {
                    imgWrap = $(this).closest('.upload__box').find('.upload__img-wrap');
                    var maxLength = $(this).attr('data-max_length');

                    var files = e.target.files;
                    var filesArr = Array.prototype.slice.call(files);
                    var iterator = 0;
                    filesArr.forEach(function (f, index) {

                        if (!f.type.match('image.*')) {
                            return;
                        }

                        if (imgArray.length > maxLength) {
                            return false
                        } else {
                            var len = 0;
                            for (var i = 0; i < imgArray.length; i++) {
                                if (imgArray[i] !== undefined) {
                                    len++;
                                }
                            }
                            if (len > maxLength) {
                                return false;
                            } else {
                                imgArray.push(f);

                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    var html = "<div class='upload__img-box'><div style='background-image: url(" + e.target.result + ")' data-number='" + $(".upload__img-close").length + "' data-file='" + f.name + "' class='img-bg'><div class='upload__img-close'></div></div></div>";
                                    imgWrap.append(html);
                                    iterator++;
                                }
                                reader.readAsDataURL(f);
                            }
                        }
                    });
                });
            });

            $('body').on('click', ".upload__img-close", function (e) {
                var file = $(this).parent().data("file");
                for (var i = 0; i < imgArray.length; i++) {
                    if (imgArray[i].name === file) {
                        imgArray.splice(i, 1);
                        break;
                    }
                }
                $(this).parent().parent().remove();
            });
        }
    </script>
