@{
    ViewBag.Title = "Application Form, Talent Nurtures, Nurturing The Gen-Next!";
    ViewBag.MetaDescription = "Talent Nurture offers globally recognized online programs, professional diplomas, and certifications designed for career growth, job promotions, and international opportunities.";
    ViewBag.MetaKeywords = "online education, professional diploma, career development, global certification, job promotions, distance learning, skill-based courses, Talent Nurture, affordable programs, international career opportunities";
    ViewBag.OgImage = "https://talentnurtures2.mysitedemo.us/assets/images/talent-nurtures.jpg";
    
    // <-- Update with actual image path
}


<div class="site-wrapper-reveal">
    <div class="breadcrumb-area" style="background:url(/assets/images/slidebg3.jpg) no-repeat top; background-size:cover; z-index:2; padding-top:45px">
        <div class="slider-mask">
        </div>

    </div>
    @* <div class="breadcrumb-area" style="background:url(/assets/images/slidebg3.jpg) no-repeat top; background-size:cover; z-index:2">
        <div class="slider-mask">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 m-auto">
                    <div class="breadcrumb_box text-center">
                        
                        <h1 class="breadcrumb-title">
                            Log in to Your Account
                        </h1>
                        <p class="text text-white fs-6">
                            Access your application dashboard to continue your application process or check the status of your submission. Enter your email and password to log in.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div> *@
    <!--============ Machine learning Hero Start ============-->
    <section class="pt-lg-5  pt-4  pb-4 pb-lg-5  ">

        <div class="container pt-lg-4 ">
            <div class="row position-relative g-4">
                <div class="col-lg-12 m-auto">
                    <div class=" text-center">

                        <h1 class="text-body">
                            Application Form

                        </h1>
                      
                        <p class="text  fs-5">
                                Fill out the application form with all required details. Enter your personal and family information, educational background, and upload the necessary documents. Save your progress and return later if needed.


                        </p>
                       
                    </div>
                </div>
<div class="clearfix"></div>
               
               
                
                <div class="col-12">
                    <form action="/application-confirmation" method="post" class="default-form  contact-inner">
                        <div class="row">


                            <div class="col-lg-12 mb-3">


                                <div class="form-inner shadow p-4 bg-white ">




                                    <div class="row g-3">
                                        <h5 class=" fw-semibold">Application Selection</h5>
                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                            <div class="select-box">
                                                <select class="selectmenu form-control">
                                                    <option selected="disabled selected">Campus</option>
                                                    <option value="al-nahda-dubai">Al Nahda</option>
                                                    <option value="al-qusais">Al Qusais</option>
                                                    <option value="al-barsha">Al Barsha</option>
                                                    <option value="deira">Deira</option>
                                                    <option value="bur-dubai">Bur Dubai</option>
                                                    <option value="business-bay">Business Bay</option>
                                                    <option value="jlt">Jumeirah Lakes Towers (JLT)</option>
                                                    <option value="dubai-marina">Dubai Marina</option>
                                                    <option value="karama">Al Karama</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                            <div class="select-box">
                                                <select class="selectmenu form-control">
                                                    <option selected="disabled selected">Session</option>
                                                    <option>2025</option>
                                                    <option>2024</option>
                                                    <option>2023</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                            <div class="select-box">
                                                <select class="selectmenu form-control">
                                                    <option selected="disabled selected">Program</option>
                                                    <option>Executive Management (MBA)</option>
                                                    <option>MBA in Financial Management</option>
                                                    <option>MBA – International Business Management</option>
                                                    <option>Pre‑Master’s in Business</option>
                                                    <option>Ph.D. in Business Management</option>

                                                </select>
                                            </div>
                                        </div>

                                    </div>











                                </div>
                            </div>

                            <div class="col-lg-12 mb-3">


                                <div class="form-inner shadow p-4 bg-white rounded">




                                    <div class="row g-3">
                                        <h5 class=" fw-semibold">Personal Information</h5>
                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">


                                            <input class="form-control" type="text" name="name" placeholder="First Name">

                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">


                                            <input class="form-control" type="text" name="name" placeholder="Last Name">

                                        </div>

                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">


                                            <input class="form-control" type="text" name="name" placeholder="Mobile 1231234567">

                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">


                                            <input class="form-control" type="text" name="name" placeholder="Email">

                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">


                                            <input class="form-control" type="text" name="name" placeholder="ID">

                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">


                                            <input class="form-control" type="text" name="name" placeholder="Address">

                                        </div>
                                        <h5 class=" fw-semibold">Family Information</h5>
                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">


                                            <input class="form-control" type="text" name="name" placeholder="Father First Name">

                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">


                                            <input class="form-control" type="text" name="name" placeholder="Father Last Name">

                                        </div>

                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">


                                            <input class="form-control" type="text" name="name" placeholder="F Mobile 1231234567">

                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">


                                            <input class="form-control" type="text" name="name" placeholder="Father ID">

                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">


                                            <input class="form-control" type="text" name="name" placeholder="Father Email">

                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">


                                            <input class="form-control" type="text" name="name" placeholder="Father Address">

                                        </div>

                                    </div>











                                </div>
                            </div>
                            <div class="col-lg-12 mb-3">


                                <div class="form-inner shadow p-4 bg-white rounded">




                                    <div class="row g-3">
                                        <h5 class="fw-semibold">Education Information</h5>

                                        <!-- Education Level -->
                                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12 form-group">
                                            <label>Education Level</label>
                                            <div class="select-box">
                                                <select class="selectmenu form-control">
                                                    <option disabled selected>Select Level</option>
                                                    <option>Grade 10</option>
                                                    <option>Grade 11</option>
                                                    <option>Grade 12</option>
                                                    <option>Diploma</option>
                                                    <option>Bachelor’s Degree</option>
                                                </select>
                                            </div>
                                        </div>

                                        <!-- Specialization -->
                                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12 form-group">
                                            <label>Specialization</label>
                                            <input class="form-control" type="text" name="specialization" placeholder="Science">
                                        </div>

                                        <!-- Institute -->
                                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12 form-group">
                                            <label>Institute</label>
                                            <input class="form-control" type="text" name="institute" placeholder="Dubai British School (DBS)">
                                        </div>

                                        <!-- Passing Date -->
                                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12 form-group">
                                            <label>Passing Date</label>
                                            <input class="form-control" type="date" name="passing_date">
                                        </div>

                                        <!-- Marks Section -->
                                        <div class="col-xl-4 col-lg-6">
                                            <div class="row g-3">
                                                <div class="col-lg-4 col-md-4 col-sm-12 form-group">
                                                    <label>MR Obtained</label>
                                                    <input class="form-control" type="number" name="marks_obtained" placeholder="880">
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-12 form-group">
                                                    <label>Total Marks</label>
                                                    <input class="form-control" type="number" name="total_marks" placeholder="1100">
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-12 form-group">
                                                    <label>Grade (%)</label>
                                                    <input class="form-control" type="number" name="grade" placeholder="80">
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="table-responsive mt-3 ">
                                        <table class="table table-striped personal mb-0 add-multiple border">

                                            <tbody class="fs-12">

                                                <tr>
                                                    <td>Education Level : <span> Grade 10</span></td>
                                                    <td>Specialization : <span> Science</span></td>
                                                    <td>Institute : <span> GEMS Winchester School, Dubai</span></td>
                                                    <td>Passing Date : <span> 22/06/2023</span></td>
                                                    <td>M Obtained : <span> 880</span></td>
                                                    <td>T Marks : <span> 1100</span></td>
                                                    <td>Grade (%) : <span>80%</span></td>
                                                    <td style="width:70px">
                                                        <a href="#" class="bg-white text-primary p-1 rounded shadow">
                                                            <i class="fa-solid fa-pen-to-square"></i>
                                                        </a>
                                                        <a href="#" class="bg-white text-danger p-1 rounded shadow">
                                                            <i class="fa-solid fa-trash-can"></i>
                                                        </a>
                                                    </td>
                                                </tr>



                                            </tbody>
                                        </table>
                                    </div>






                                </div>
                            </div>
                            <div class="col-lg-12 mb-3">


                                <div class="form-inner shadow p-4 bg-white rounded">




                                    <div class="row g-3">
                                        <h5 class=" fw-semibold">Additional Documents</h5>


                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">

                                            <label>ID Front</label>

                                            <div class="upload__box">
                                                <div class="upload__img-wrap"></div>
                                                <div class="upload__btn-box position-relative">
                                                    <label class="upload__btn">
                                                        <i class="fa-solid fa-cloud-arrow-up"></i>
                                                        <p>Upload images</p>
                                                        <input type="file" multiple="" data-max_length="20" class="upload__inputfile">
                                                    </label>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 form-group">

                                            <label>ID Back</label>

                                            <div class="upload__box">
                                                <div class="upload__img-wrap"></div>
                                                <div class="upload__btn-box position-relative">
                                                    <label class="upload__btn">
                                                        <i class="fa-solid fa-cloud-arrow-up"></i>
                                                        <p>Upload images</p>
                                                        <input type="file" multiple="" data-max_length="20" class="upload__inputfile">
                                                    </label>
                                                </div>

                                            </div>

                                        </div>


                                        <div class="col-lg-12 col-md-12 col-sm-12 d-md-flex justify-content-between align-items-center">
                                            <button type="submit" class="btn btn-sm btn--secondary ht-btn-sm w-auto">Submit Application</button>


                                           
                                            <a class="btn btn--white ht-btn-sm" href="/dashboard" style="font-size:12px; white-space:nowrap"><i class="fa-solid fa-arrow-left"></i> Dashboard</a>
                                        </div>


                                    </div>











                                </div>
                            </div>
                        </div>

                    </form>
                   
                </div>

                

            </div>
        </div>
    </section>
   
    <!--============ Infotechno Hero End ============-->
    


    <!--====================  brand logo slider area ====================-->
    <script src="/assets/js/vendor/jquery-3.5.1.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            ImgUpload();
        });

        function ImgUpload() {
            var imgWrap = "";
            var imgArray = [];

            $('.upload__inputfile').each(function () {
                $(this).on('change', function (e) {
                    imgWrap = $(this).closest('.upload__box').find('.upload__img-wrap');
                    var maxLength = $(this).attr('data-max_length');

                    var files = e.target.files;
                    var filesArr = Array.prototype.slice.call(files);
                    var iterator = 0;
                    filesArr.forEach(function (f, index) {

                        if (!f.type.match('image.*')) {
                            return;
                        }

                        if (imgArray.length > maxLength) {
                            return false
                        } else {
                            var len = 0;
                            for (var i = 0; i < imgArray.length; i++) {
                                if (imgArray[i] !== undefined) {
                                    len++;
                                }
                            }
                            if (len > maxLength) {
                                return false;
                            } else {
                                imgArray.push(f);

                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    var html = "<div class='upload__img-box'><div style='background-image: url(" + e.target.result + ")' data-number='" + $(".upload__img-close").length + "' data-file='" + f.name + "' class='img-bg'><div class='upload__img-close'></div></div></div>";
                                    imgWrap.append(html);
                                    iterator++;
                                }
                                reader.readAsDataURL(f);
                            }
                        }
                    });
                });
            });

            $('body').on('click', ".upload__img-close", function (e) {
                var file = $(this).parent().data("file");
                for (var i = 0; i < imgArray.length; i++) {
                    if (imgArray[i].name === file) {
                        imgArray.splice(i, 1);
                        break;
                    }
                }
                $(this).parent().parent().remove();
            });
        }
    </script>
