@{
    ViewBag.Title = "Login, Talent Nurtures, Nurturing The Gen-Next!";
    ViewBag.MetaDescription = "Talent Nurture offers globally recognized online programs, professional diplomas, and certifications designed for career growth, job promotions, and international opportunities.";
    ViewBag.MetaKeywords = "online education, professional diploma, career development, global certification, job promotions, distance learning, skill-based courses, Talent Nurture, affordable programs, international career opportunities";
    ViewBag.OgImage = "https://talentnurtures2.mysitedemo.us/assets/images/talent-nurtures.jpg";
    
    // <-- Update with actual image path
}


<div class="site-wrapper-reveal">
    <div class="breadcrumb-area" style="background:url(/assets/images/slidebg3.jpg) no-repeat top; background-size:cover; z-index:2; padding-top:45px">
        <div class="slider-mask">
        </div>

    </div>
    @* <div class="breadcrumb-area" style="background:url(/assets/images/slidebg3.jpg) no-repeat top; background-size:cover; z-index:2">
        <div class="slider-mask">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 m-auto">
                    <div class="breadcrumb_box text-center">
                        
                        <h1 class="breadcrumb-title">
                            Log in to Your Account
                        </h1>
                        <p class="text text-white fs-6">
                            Access your application dashboard to continue your application process or check the status of your submission. Enter your email and password to log in.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div> *@
    <!--============ Machine learning Hero Start ============-->
    <section class="pt-lg-5  pt-4  pb-4 pb-lg-5  ">

        <div class="container pt-lg-4 pb-lg-5">
            <div class="row position-relative g-4">
                <div class="col-lg-8 m-auto">
                    <div class=" text-center">

                        <h1 class="text-body">
                            Log in to Your Account
                        </h1>
                        <div class="col-lg-10 m-auto">
                        <p class="text  fs-5">
                            Access your application dashboard to continue your application process or check the status of your submission. Enter your email and password to log in.
                        </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ms-auto ">

                    <form action="/dashboard" method="post" class=" p-lg-5 p-4 rounded-3 bg-white border" style="border-color:#0d4faf !important">
                        <div class="contact-form__two">

                            <!-- Full Name -->
                            <div class="contact-inner">
                                <label>User Name</label>
                                <input name="full_name" type="text" placeholder="Enter Username" >
                            </div>

                            <!-- Email -->
                            <div class="contact-inner">
                                <label>Password</label>
                                <input name="password" type="password" placeholder="*******" >
                            </div>

                            <!-- Phone -->
                          


                            <!-- Submit Button -->
                            <div class="comment-submit-btn text-center">
                                <button class="ht-btn ht-btn-md w-100" type="submit">Submit</button>
                            </div>

                        </div>
                    </form>

                </div>


                <div class="col-lg-4 me-auto">


                    <img src="/assets/images/login.jpg" class="img-fluid rounded-3" />








                </div>

            </div>
        </div>
    </section>
   
    <!--============ Infotechno Hero End ============-->
    


    <!--====================  brand logo slider area ====================-->
    
  

