@{
    ViewBag.Title = "Course Resources, Talent Nurtures, Nurturing The Gen-Next!";
    ViewBag.MetaDescription = "Talent Nurture offers globally recognized online programs, professional diplomas, and certifications designed for career growth, job promotions, and international opportunities.";
    ViewBag.MetaKeywords = "online education, professional diploma, career development, global certification, job promotions, distance learning, skill-based courses, Talent Nurture, affordable programs, international career opportunities";
    ViewBag.OgImage = "https://talentnurtures2.mysitedemo.us/assets/images/talent-nurtures.jpg"; 
    // <-- Update with actual image path
}


<div class="site-wrapper-reveal">
    <!--============ Machine learning Hero Start ============-->
    <div class="breadcrumb-area" style="background:url(/assets/images/slidebg3.jpg) no-repeat top; background-size:cover; z-index:2; padding-top:45px">
        <div class="slider-mask">
        </div>
       
    </div>
   
    <!--============ Infotechno Hero End ============-->
    


    <!--====================  brand logo slider area ====================-->
    <section class=" pb-lg-5 pt-4 pb-4 ">
        <div class="container">
            <h1 class="fw-bold mb-0 fs-1 text-body">Digital Marketing Essentials</h1>
            <p class="text-muted fs-5">Course: Principles of Marketing</p>
            <div class="row g-4">

                <!-- Sidebar Menu -->
               

                <!-- Main Content -->
                <div class="col-lg-8 ">
                    
                    <div class="responsive-images41 mb-4">
                        <img src="https://images.unsplash.com/photo-1508830524289-0adcbe822b40" alt="Digital Marketing" class="img-fluid rounded-3 shadow-sm">
                    </div>
                    <h5 class="fw-semibold mb-3">📚 What You Will Learn</h5>
                    <ul class="list-style-one border p-lg-5 p-4 rounded-3 mb-4 " style="border-color:#000 !important">
                        <li>Basics of digital branding</li>
                        <li>Social media strategy & planning</li>
                        <li>Online consumer behavior</li>
                        <li>Search Engine Optimization (SEO)</li>
                        <li>Email and content marketing techniques</li>
                    </ul>

                    <div class="mb-4">
                        <h5 class="fw-semibold mb-3">📅 Schedule</h5>
                        <table class="table table-bordered">
                            <thead class="table-light">
                                <tr>
                                    <th>Day</th>
                                    <th>Time</th>
                                    <th>Tutor</th>
                                    <th>Mode</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Monday</td>
                                    <td>10:00 AM – 11:30 AM</td>
                                    <td>Ms. Ayesha Khan</td>
                                    <td>Zoom</td>
                                </tr>
                                <tr>
                                    <td>Friday</td>
                                    <td>09:00 AM – 10:30 AM</td>
                                    <td>Ms. Ayesha Khan</td>
                                    <td>Zoom</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="mb-4">
                        <h5 class="fw-semibold mb-3">📖 Course Description</h5>
                        <p>
                            Learn the foundations of branding, social media strategy, and online consumer outreach.
                            This course introduces essential tools and platforms for modern digital marketing, including
                            SEO, analytics, email marketing, and campaign optimization.
                        </p> 
                    </div>
                   
                        <h5 class=" fw-semibold mb-3 ">📂 Resources</h5>
                        <div class="mb-4">
                        <a href="#" class="res">Course Outline (PDF)</a>
                        <a href="#" class="res">Zoom Class Recordings</a>
                        <a href="#" class="res">Marketing Tools List</a>

                       
                    </div>
                   

                    <a href="/dashboard" class="btn ht-btn-md btn--secondary  ">⬅ Back to Courses</a>
                </div>

                <div class="col-lg-4 ms-auto  position-relative">
                    <div class="top-0 position-sticky enrolled-courses">
                       
                      
                        <div class="card rounded-3 p-3 p-sm-4 pb-sm-2 mb-3">
                           
                        <a href="/course-resources" class="w-100">

                              
                                 
                                        <div class="row">
                                            <div class="col-4  ">
                                                <div class="post-feature blog-thumbnail rounded-4 responsive-images100">
                                                    <img class="img-fluid" src="/assets/images/accounting.jpg" alt="Blog Images">
                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="post-info lg-blog-post-info">
                                                    <h4 class="post-title fs-5 fw-semibold">Financial Accounting</h4>
                                                    <p class="fs-6 fw-semibold text-body mb-1">Basics of Double Entry &amp; Ledger Management</p>
                                                    
                                                </div>
                                            </div>
                                       
                                   
                                </div>

                            </a>



                        </div>

                        <div class="card rounded-3 p-3 p-sm-4 pb-sm-2 mb-3">

                            <a href="/course-resources" class="w-100">



                                <div class="row">
                                    <div class="col-4  ">
                                        <div class="post-feature blog-thumbnail rounded-4 responsive-images100">
                                            <img class="img-fluid" src="/assets/images/communication.jpg" alt="Blog Images">
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="post-info lg-blog-post-info">
                                            <h4 class="post-title fs-5">Business Communication</h4>
                                            <p class="fs-6 fw-semibold text-body mb-1">Effective Business Writing</p>

                                        </div>
                                    </div>


                                </div>

                            </a>



                        </div>

                        <div class="card rounded-3 p-3 p-sm-4 pb-sm-2 mb-3">
">

                            <a href="/course-resources" class="w-100">



                                <div class="row">
                                    <div class="col-4  ">
                                        <div class="post-feature blog-thumbnail rounded-4 responsive-images100">
                                            <img class="img-fluid" src="/assets/images/business-and-management.jpg" alt="Blog Images">
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="post-info lg-blog-post-info">
                                            <h4 class="post-title fs-5">Microeconomics</h4>
                                            <p class="fs-6 fw-semibold text-body mb-1">Supply & Demand Explained</p>

                                        </div>
                                    </div>


                                </div>

                            </a>



                        </div>
                        <div class="card rounded-3 p-3 p-sm-4 pb-sm-2 mb-3">

                            <a href="/course-resources" class="w-100">



                                <div class="row">
                                    <div class="col-4  ">
                                        <div class="post-feature blog-thumbnail rounded-4 responsive-images100">
                                            <img class="img-fluid" src="/assets/images/Introduction-Management.jpg" alt="Blog Images">
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="post-info lg-blog-post-info">
                                            <h4 class="post-title fs-5">Introduction to Management</h4>
                                            <p class="fs-6 fw-semibold text-body mb-1">Principles of Organizational Leadership</p>

                                        </div>
                                    </div>


                                </div>

                            </a>



                        </div>
                        <div class="card rounded-3 p-3 p-sm-4 pb-sm-2 mb-3">

                            <a href="/course-resources" class="w-100">



                                <div class="row">
                                    <div class="col-4  ">
                                        <div class="post-feature blog-thumbnail rounded-4 responsive-images100">
                                            <img class="img-fluid" src="/assets/images/accounting.jpg" alt="Blog Images">
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="post-info lg-blog-post-info">
                                            <h4 class="post-title fs-5">Financial Accounting</h4>
                                            <p class="fs-6 fw-semibold text-body mb-1">Understanding Financial Statements</p>

                                        </div>
                                    </div>


                                </div>

                            </a>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  

